html, body{
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    position: static;
    top: 0;
}

nav > h2{
    margin: 0;
    padding: 0 20px;
    font-size: 2rem;
    font-weight: 800;
}

nav > div {
    height: 100%;
}

nav > div > button {
    border: none;
    height: inherit;
    width: 110px;
    padding: 0;
    margin: 0;
    margin-left: -4px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: inherit;
    transition: 0.5s;
}

nav > div > button:hover {
    background-color: lightgray;
}

#zawartoscPojec, #zawartoscWydarzen {
    display: none;
}

li {
    font-size: 1.3rem;
    font-weight: 600;
}